{{ template "header.html" }}

<div class="album py-4 bg-light">
  <div class="container">
    <div class="row">
      <!-- Loop over the list of the videos -->
      {{ range .videos }}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <iframe width="300" height="200" 
              src="{{ .URL }}"
              frameborder="0" allow="accelerometer; autoplay; 
              encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
              </iframe>
              
              <p class="card-text">
                <h4>{{ .Title }}</h4>
                <p>{{ .Description }}</p>
              </p>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</div>

{{ template "footer.html" }}